.wrapper {
	position: relative;
}

.cpe-logo {
	//max-width: 25%;
}

.cpe-header {
	//display: inline-flex;
	//align-items: center;
	margin-bottom: 15px;
}

.mat-mdc-chip-set {
	max-width: 40%;
}

.cpe-datos-contribuyente {
	line-height: 1.5em;
}
@media (max-width: 800px) {
	.mat-mdc-chip-set {
		max-width: 100%;
	}
}

mat-chip-listbox {
	display: flex;

	mat-chip {
		flex: 1;
		justify-content: space-between;

	}
}

