<br>
<mat-card class="card-cpe">
	<mat-card-header>
		<div mat-card-avatar class="example-header-image"></div>
		<mat-card-title>Guía de remisión</mat-card-title>
		<mat-card-subtitle>Remitente</mat-card-subtitle>
	</mat-card-header>

	<mat-card-actions>
		<a mat-button routerLink="../greremitente" >Nuevo</a>
		<a mat-button routerLink="../remitentelist">Lista</a>
	</mat-card-actions>
</mat-card>
<br>
<mat-card class="card-cpe disabled">
	<mat-card-header>
		<div mat-card-avatar class="example-header-image"></div>
		<mat-card-title>Guía de remisión</mat-card-title>
		<mat-card-subtitle>Transportista</mat-card-subtitle>
	</mat-card-header>

	<mat-card-actions>
		<button mat-button>Nuevo</button>
		<button mat-button>Lista</button>
	</mat-card-actions>
</mat-card>
