<footer class="text-center text-lg-start bg-light text-muted">
	<section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
		<div class="me-5 d-none d-lg-block">
			<span>Nuestras redes sociales:</span>
		</div>

		<div>
			<a href="" class="me-4 text-reset">
				<i class="bi bi-facebook"></i>
			</a>
			<a href="" class="me-4 text-reset">
				<i class="bi bi-twitter"></i>
			</a>
			<a href="" class="me-4 text-reset">
				<i class="bi bi-google"></i>
			</a>
			<a href="" class="me-4 text-reset">
				<i class="bi bi-instagram"></i>
			</a>
			<a href="" class="me-4 text-reset">
				<i class="bi bi-linkedin"></i>
			</a>
			<a href="" class="me-4 text-reset">
				<i class="bi bi-tiktok"></i>
			</a>
		</div>
	</section>

	<section class="">
		<div class="container text-center text-md-start mt-5">
			<div class="row mt-3">
				<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
					<h4 class="text-uppercase fw-bold mb-4">
						Asociación Civil Impacta Salud y Educación
					</h4>
					<p>
						Somos una institución sin fines de lucro dedicada a la investigación en los campos de la salud y el comportamiento humanos, comprometidos en promover el bienestar de las personas y la sociedad.
					</p>
				</div>

				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
					<h6 class="text-uppercase fw-bold mb-4">
						Enlaces Útiles
					</h6>
					<p>
						<a href="https://youtu.be/WIz82YGfU6I" class="text-reset">Tutorial</a>
					</p>
					<p>
						<a href="https://intranet.impactaperu.org/" class="text-reset">Intranet</a>
					</p>
				</div>

				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
					<h5 class="text-uppercase fw-bold mb-4">
						<i class="bi bi-building-fill me-3"></i>
						Barranco
					</h5>
					<p><i class="bi bi-geo-alt me-3"></i>Av. Almirante Miguel Grau N°1010</p>
					<p><i class="bi bi-crosshair me-3"></i>Lima - Perú</p>
					<p><i class="bi bi-mailbox-flag me-3"></i>Código postal 15063</p>
					<p><i class="bi bi-telephone me-3"></i>(511) 2067800</p>
				</div>

				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
					<h5 class="text-uppercase fw-bold mb-4">
						<p><i class="bi bi-building-fill me-3"></i>San Miguel</p>
					</h5>
					<p><i class="bi bi-geo-alt me-3"></i>Cal. Putumayo N°177 Urb. Pando</p>
					<p><i class="bi bi-geo-alt me-3"></i>Cal. Putumayo N°173 Urb. Pando</p>
					<p><i class="bi bi-mailbox-flag me-3"></i>Código postal 15088</p>
					<p><i class="bi bi-telephone me-3"></i>(511) 5621600</p>
				</div>
			</div>
		</div>
	</section>

	<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
		© {{year}} Copyright:
		<a class="text-reset fw-bold" href="http://www.impactaperu.org">Asociación Civil Impacta Salud y Educación</a>
	</div>
</footer>
