@import "../../../../../styles/colors";

/* Estilos para la tabla */
.styled-table {
	width: 96%;
	border-collapse: collapse;
	margin: 10px;
	//border: 1px solid #ddd;
}

.styled-table td, .styled-table th {
	padding-inline: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	//background: $base-page;
}

/* Estilos para las filas impares */
.styled-table tr:nth-child(odd) {
	//background-color: #f2f2f2;
	background: $base-page;
}

/* Estilos para filas al pasar el mouse por encima */
.styled-table tr:hover {
	background-color: #ec2f2f;
	color: $base;
}

/* Estilos para la última columna (Control borrar) */
.styled-table td:last-child {
	font-weight: bold;
	width: 5%;
	border: white;
	background: white;
	color: #ec2f2f;
	align-items: center;

	.icon-background {
		padding: 5px;
		border: 1px solid rgba(236, 220, 220, 0.55);
		border-radius: 5px;
		display: flex;
		align-content: center;
		align-items: center;
		background: #f2f2f2;

		&:hover {
			color: white;
			cursor: pointer;
			background: #ec2f2f;
		}

		.delete {
			align-content: flex-end;
			align-items: center;
			margin-left: 4px;
		}
	}
}

.styled-table tr:last-child {
	//border: white;
}
