@import "reset";
@import "colors";
@import "mixins";
@import "fonts";
@import "base";
@import "layout";
@import "vendor";
@import "component";
@import "../node_modules/bootstrap/dist/css/bootstrap.css";

html,
body {
	height: 100%;
	margin: 0;
	font-family: $base-font-family;
	font-size: $base-line-height;
	background: $base;
	color: $on-base;
}
