<div class="form">
	<div class="form-header">
		<div class="title">
			<h2>Agregar ítem</h2>

		</div>
	</div>
	<div class="form-content">
		<ng-content></ng-content>

		<form [formGroup]="formItem" novalidate autocomplete="off" (ngSubmit)="onSubmit()">
			<div class="row">
				<div class="col-md-4">
					<app-form-field label="Cantidad"
									[required]="true"
									[control]="formItem.controls['CantidadItem']"
									[patterError]="regexErrors.number"
									[isInline]="false">
						<app-input formControlName="CantidadItem" type="number"
								   placeholder="Ingrese la cantidad"></app-input>
					</app-form-field>
				</div>

				<div class="col-md-4">
					<app-form-field label="Unidad de medida"
									[required]="true"
									[control]="formItem.controls['unidadMedidaItem']"
									[isInline]="false">
						<app-autocomplete placeholder="Ingrese la unidad de medida"
										  formControlName="unidadMedidaItem"
										  [items]="unidadMedida"></app-autocomplete>
					</app-form-field>
				</div>

				<div class="col-md-4">
					<app-form-field label="GTIN (Opcional)"
									[control]="formItem.controls['CodigoGTIN']"
									[isInline]="false">
						<app-input formControlName="CodigoGTIN"
								   placeholder="Indicar el código GTIN"></app-input>
					</app-form-field>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<app-form-field label="Descripción detallada" class="row-items_inColumn"
									[required]="true"
									[control]="formItem.controls['DescripcionDetallada']"
									[isInline]="false">
						<app-input formControlName="DescripcionDetallada"
								   placeholder="Ingrese la descripción detallada"></app-input>
					</app-form-field>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<app-form-field label="Indicador de bien Normalizado (Opcional)" class="row-items_inColumn"
									[control]="formItem.controls['IndicadorBienNormalizado']"
									[isInline]="false">
						<app-input formControlName="IndicadorBienNormalizado"
								   placeholder="Indicar si el bien esta normalizado"></app-input>
					</app-form-field>
				</div>

				<div class="col-md-4">
					<app-form-field label="Código de producto SUNAT (Opcional)" class="row-items_inColumn"
									[control]="formItem.controls['CodigoProductoSUNAT']"
									[isInline]="false">
						<app-input formControlName="CodigoProductoSUNAT"
								   placeholder="Indicar el código SUNAT"></app-input>
					</app-form-field>
				</div>

				<div class="col-md-4">
					<app-form-field label="Código de partida arancelaria (Opcional)" class="row-items_inColumn"
									[control]="formItem.controls['CodigoPartidaArancelaria']"
									[isInline]="false">
						<app-input formControlName="CodigoPartidaArancelaria"
								   placeholder="Indicar la partida arancelaria"></app-input>
					</app-form-field>
				</div>
			</div>

			<!--mat-dialog-close-->
			<div class="row">

				<div class="col">
					<div class="d-grid gap-2">
						<button class="btn btn-secondary" type="button" mat-dialog-close>Cerrar</button>

					</div>

				</div>

				<div class="col">
					<div class="d-grid gap-2">
						<button class="btn btn-primary" type="submit">Agregar</button>
					</div>

				</div>
			</div>

		</form>
	</div>
	<div class="form-footer">

	</div>
</div>
