<div class="form">
	<div class="form-header">
		<div class="title">
			<h2>Agregar ítem</h2>

		</div>
	</div>
	<div class="form-content">
		<ng-content></ng-content>

		<form [formGroup]="formItem" novalidate autocomplete="off" (ngSubmit)="onSubmit()">
			<app-form-field label="Descripción detallada" class="row-items_inColumn"
							[required]="true"
							[control]="formItem.controls['DescripcionDetallada']"
							[isInline]="false">
				<app-input formControlName="DescripcionDetallada"
						   placeholder="Ingrese la descripción detallada"></app-input>
			</app-form-field>

			<app-form-field label="Cantidad" class="row-items_inColumn"
							[required]="true"
							[control]="formItem.controls['CantidadItem']"
							[isInline]="false">
				<app-input formControlName="CantidadItem" type="number"
						   placeholder="Ingrese la cantidad"></app-input>
			</app-form-field>

			<app-form-field label="Unidad de medida" class="row-items_inColumn"
							[required]="true"
							[control]="formItem.controls['unidadMedidaItem']"
							[isInline]="false">
				<app-autocomplete placeholder="Ingrese la unidad de medida"
								  formControlName="unidadMedidaItem"
								  [items]="unidadMedida"></app-autocomplete>
			</app-form-field>

			<app-form-field label="Ingrese el código GTIN (Opcional)" class="row-items_inColumn"
							[control]="formItem.controls['CodigoGTIN']"
							[isInline]="false">
				<app-input formControlName="CodigoGTIN"
						   placeholder="Indicar el código GTIN"></app-input>
			</app-form-field>

			<app-form-field label="Indicador de bien Normalizado (Opcional)" class="row-items_inColumn"
							[control]="formItem.controls['IndicadorBienNormalizado']"
							[isInline]="false">
				<app-input formControlName="IndicadorBienNormalizado"
						   placeholder="Indicar si el bien esta normalizado"></app-input>
			</app-form-field>

			<app-form-field label="Código de producto SUNAT (Opcional)" class="row-items_inColumn"
							[control]="formItem.controls['CodigoProductoSUNAT']"
							[isInline]="false">
				<app-input formControlName="CodigoProductoSUNAT"
						   placeholder="Indicar el código del producto según SUNAT"></app-input>
			</app-form-field>

			<app-form-field label="Código de partida arancelaria (Opcional)" class="row-items_inColumn"
							[control]="formItem.controls['CodigoPartidaArancelaria']"
							[isInline]="false">
				<app-input formControlName="CodigoPartidaArancelaria"
						   placeholder="Indicar el código del producto según SUNAT"></app-input>
			</app-form-field>
			<div class="title" mat-dialog-close>
				<app-button type="submit" >Agregar</app-button>
			</div>
		</form>
	</div>
	<div class="form-footer">

	</div>
</div>
